* {
  background-image: url('https://img.freepik.com/premium-photo/digital-glitch-static-television-noise-effects-visual-effect-vhs-defects-artifacts-noise-retro-background-elegant-retro-3d-illustration-style-tv-movie-theme_510351-7104.jpg');
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 30vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: aliceblue;
  cursor: pointer;
  flex: 0.5;
  margin: 5px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  background-image: none;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 25px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
  
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}